body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[id*="not"] {
  display: none !important;
 }
 
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.group--actions {
  opacity: 1 !important;
}


.group--conjunctions button {
  opacity: 1 !important;
  width: 40px !important;
    padding: 0px !important;
  overflow: visible !important;
  opacity: 1;
}

span, input, .MuiButton-label, .MuiSelect-select, li {
  font-size: 12px !important;
}


.query-builder{
  margin: 0px !important;
}

.group {
  background: rgb(64 63 60 / 13%) !important;
  border: 1px solid rgb(64 63 60 / 13%) !important

}

.rule--body {
  display: flex;
    align-items: center;
}